body {
  background-color: rgb(142, 204, 235);
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* Фон фиксируется при скролле */
  color: #f8efef;
  margin: 0;
  height: 100vh; /* Высота body равна высоте экрана */
  /* overflow: hidden; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрируем по горизонтали */
  justify-content: center; /* Центрируем по вертикали */
  height: 100vh; /* Контент занимает всю высоту экрана */
  padding: 20px;
  box-sizing: border-box;
}

/* Остальные стили остаются без изменений */
.site-title {
  font-family: "Arial", sans-serif;
  font-size: 38px;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(235, 145, 145), #ec062d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 20px 0;
  letter-spacing: 2px;
}

.input-wrapper {
  gap: 10px;
  width: 70%; /* Ширина 70% от родительского контейнера */
  display: flex;
  margin: 0 auto 20px; /* Центрируем по горизонтали и добавляем отступ снизу */
}

.input {
  width: 100%;
  background-color: #f5f2f2;
  border: none;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  outline: none;
}

.button {
  background-color: #e02444;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: pulse 1.5s infinite;
}

.button:hover {
  background-color: #e64c8c;
  transform: scale(1.1);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.weather-container-wrapper {
  display: flex;
  width: 70%;
  margin: auto;
  flex-direction: row;
}

.weather-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Arial", sans-serif;
  background: #f0f0f0;
  color: #333;
  padding: 20px;
  border-radius: 15px;
  max-width: 350px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.weather-city {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.weather-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
  gap: 0px;
}

.weather-temperature {
  font-size: 48px;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.description-container {
  flex-direction: column;
}

.weather-description {
  font-size: 28px;
  color: #555;
  margin-bottom: 5px;
  margin-top: 5px;
}

.weather-feels-like {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.weather-details {
  font-size: 14px;
  color: #666;
}

.weather-details div {
  margin-bottom: 5px;
}

/* Адаптация для мобильных устройств */
@media (max-width: 480px) {
  body {
    background-attachment: scroll; /* Отключаем фиксацию фона на мобильных */
  }

  .site-title {
    font-size: 28px;
    margin: 10px 0;
  }

  .input-wrapper {
    flex-direction: column;
    width: 90%;
    margin: 30px auto 20px;
  }

  .input {
    font-size: 14px;
    padding: 8px 15px;
    width: auto;
  }

  .button {
    font-size: 14px;
    padding: 8px 15px;
    width: 100%;
  }

  .weather-container {
    padding: 15px;
    max-width: 90%;
  }

  .weather-temperature {
    font-size: 36px;
  }

  .weather-city {
    font-size: 20px;
  }

  .weather-description {
    font-size: 16px;
  }

  .weather-feels-like,
  .weather-details {
    font-size: 12px;
  }
}

.forecast {
  width: 70%;
  margin: 20px auto;

  background: #f0f0f0;
  color: #333;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.forecast-card {
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
